body::-webkit-scrollbar,
.card-body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical,
.card-body::-webkit-scrollbar:vertical {
  width: 11px;
}

body::-webkit-scrollbar:horizontal,
.card-body::-webkit-scrollbar:horizontal {
  height: 11px;
}

body::-webkit-scrollbar-thumb,
.card-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

body::-webkit-scrollbar-track,
.card-body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

body {
  margin: 50px 0;
}

img {
  transition: .3s all;
}

img:hover {
  transform: scale(0.95);
}

.disclaimer {
  text-align: center;
  margin-top: 100px;
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.top-bar>div:first-of-type {
  display: flex;
  gap: 10px;
}

.shows-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 13px;
}

.shows-wrapper .card {
  width: calc(100% - 10px);
  margin-bottom: 1.5%;
}

.btn-div {
  display: flex;
  justify-content: space-between;
}

.btn--fav {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  height: 38px;
  width: 38px;
}

.show-preview {
  position: fixed;
  left: 50%;
  top: 5%;
  display: none;
  width: 90%;
  max-width: 1100px;
  height: 90%;
  background: white;
  transform: translate(-50%, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.show-preview .card {
  height: 100%;
}

.card {
  width: 100%;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  overflow-y: auto;
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-preview-bg {
  width: 100%;
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

/* cast information */

.show-cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 30px;
}

.actor-card {
  height: 100px;
  width: 320px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(2, 1fr)
}

.actor-photo,
.character-photo {
  grid-row: span 2;
  background-position: center;
  width: 100%;
}

.actor-name,
.character-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
